<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<!--Jarod Wakeman, 301321980 Assignment 1, 2023 oct 4-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> Me page</h1>
    </div>
    <img src="/img/jarod_pic.jpg" alt="Picture of Jarod Wakeman" height="200px" width="200px">
    <h3>Name: Jarod Wakeman</h3>
    <h3>Height: 6ft Tall</h3>
    <h3>Pronouns: They/Them</h3>
    <h3>Education: High School Diploma, Enrolled at Centennial College, Game Programing Course</h3>
    <h3><a href="/pdfs/Resume.pdf">Resume</a></h3>
    <p>Hello, my name is Jarod Wakeman. I am a college student enrolled at centennial college's online program. Im taking the game developement program.
      My ideal job is to work for blizzards entertainment. But realistically looking for any coding job in the computer world preferably gaming.
      I enjoy playing RPG style games and watching anime. I enjoy watching football with my mother and younger brother.
    </p>
    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   