<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<!--Jarod Wakeman, 301321980 Assignment 1, 2023 oct 4-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p>Welcome to my portfolio.</p>
    <h4>Mission Statement</h4>
    <p>To learn to create something that will make people happy.</p>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   