<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<!--Jarod Wakeman, 301321980 Assignment 1, 2023 oct 4-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <h3>Pong Recreation</h3>
    <img src="/img/pong.png" alt="Picture of Pong" height="200px" width="200px">
    <p>This is a game I recreated for one of my coding classes. I created 3 game versions. One original, one four player, and one super powered mode.</p>
    <h3>Breakout Recreation</h3>
    <img src="img/breakout.png" alt="Picture of breakout" height="200px" width="200px">
    <p>This is a game I recreated for the same coding class. This is a fully function breakout game with multiple levels and score keeping.</p>
    <h3>Heroic Archer Vs Demon Lord</h3>
    <img src="img/Archer.png" alt="Picture of the logo of the game" height="200px" width="200px">
    <p>This is a game I am working on with my friends from class. This is a game about an archer who must fight the forces of the demon lord to save the world and 
      eventually defeat the demon lord.</p><br>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   