<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
  
<!--Jarod Wakeman, 301321980 Assignment 1, 2023 oct 4-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    <h2>Services I Offer </h2>
      <h3>Programming Assitance in: C#, Java, JavaScript</h3>
      <h3>Web Development and Design</h3>
      <h3>Unity Project Assitance</h3>
      <img src="/img/programming.png" alt="" height="300px" width="300px">
    </main>
    <!--bottom nav-->
    
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   